html,
body {
height: 100%;
width: 100%;
}
.container{
margin:0 auto;
max-width: 1000px;
padding: 0 10px;
}
h1{
font-size:1.6em;
text-align: center;
margin: 0;
}
h2{
text-align: center;
}
span {
font-size:1.2em;
font-family: sans-serif;
color: #555;
}
b{
color: #000;
}
a{
text-decoration: none;
}
img{
margin: 0 auto;
display: block;
max-width: 20%;
height: auto;
}
.ya{
text-align: center;
}
form{
margin: 0 auto;
border-radius: 10px;
background:#f5f6f6;
background:-moz-linear-gradient(top,#f5f6f6 0,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f5f6f6),color-stop(21%,#dbdce2),color-stop(49%,#b8bac6),color-stop(80%,#dddfe3),color-stop(100%,#f5f6f6));
background:-webkit-linear-gradient(top,#f5f6f6 0,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
background:-o-linear-gradient(top,#f5f6f6 0,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
background:-ms-linear-gradient(top,#f5f6f6 0,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
background:linear-gradient(to bottom,#f5f6f6 0,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
max-width:350px;
text-align: center;
padding: 10px;
border:5px ridge #555;
height: 160px;
}
#email{
margin-bottom: 10px;
font-size: 1.4em;	
text-align: center;	
max-width:296px;
width: 100%;
border: 2px solid #000;
color:#000;
background:#fff;
box-shadow:none;
box-shadow:none;
outline:none;
height:45px;
transition: all .1s;
-moz-transition: all .1s; 
-webkit-transition:all .1s; 
-o-transition: all .1s; 
border-radius:30px;
-webkit-border-radius:30px;
-moz-border-radius:30px;
}
#email:hover {
box-shadow:none;
outline:none;
border: 2px solid #000;
}
.buttontextmain1:active{
box-shadow:none;
outline:none;
}
.buttontextmain1{
border:0;
font-size:1.4em;
height:45px;
text-decoration:none;
margin:0px auto 0px auto;
max-width:300px;
width: 100%;
cursor:pointer;
display:inline-block;
margin: 0 auto 21px;
border-radius:30px;
-webkit-border-radius:30px;
-moz-border-radius:30px;
background: rgb(252,234,187); /* Old browsers */
background: -moz-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,234,187,1)), color-stop(50%,rgba(252,205,77,1)), color-stop(51%,rgba(248,181,0,1)), color-stop(100%,rgba(251,223,147,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
box-shadow: 0 10px 3px -7px #555555, -1px -1px 1px #f0f0f0;
border:2px ridge #fff;
}

.buttontextmain1:hover{

-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow:none;
outline:none

}
.buttontextmain1:active{
background: rgb(252,234,187); /* Old browsers */
background: -moz-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 73%, rgba(248,181,0,1) 100%, rgba(251,223,147,1) 100%, rgba(248,181,0,1) 101%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,234,187,1)), color-stop(73%,rgba(252,205,77,1)), color-stop(100%,rgba(248,181,0,1)), color-stop(100%,rgba(251,223,147,1)), color-stop(101%,rgba(248,181,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 73%,rgba(248,181,0,1) 100%,rgba(251,223,147,1) 100%,rgba(248,181,0,1) 101%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 73%,rgba(248,181,0,1) 100%,rgba(251,223,147,1) 100%,rgba(248,181,0,1) 101%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 73%,rgba(248,181,0,1) 100%,rgba(251,223,147,1) 100%,rgba(248,181,0,1) 101%); /* IE10+ */
background: linear-gradient(to bottom, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 73%,rgba(248,181,0,1) 100%,rgba(251,223,147,1) 100%,rgba(248,181,0,1) 101%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#f8b500',GradientType=0 ); /* IE6-9 */
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow:none;
outline:none

}
strong {
font-size: 1.5em;
color: #000;
}
